<div class="container">
    <div class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Shopee.svg/1200px-Shopee.svg.png" alt="" width="250"/>
    </div>
    <div class="search">
        <form action="#">
            <input type="text" placeholder="Search.." name="search" >
            <button type="submit"><img src="https://www.clipartmax.com/png/middle/439-4398167_icon-free-icons-search-icon-red-png.png" alt="" width="15"></button>
          </form>
    </div>
    <nav>
      <ul>
      <li>Home</li>
      <li>Menu1</li>
      <li>Menu2</li>
      <li>Menu3</li>
      <li>Menu4</li>
      <li>Menu5</li>
      <li>Menu6</li>
      </ul>
      </nav>
    </div>
    <hr />